body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #1e293b;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 80px 40px;
    text-align: center;
  }
  
  #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
  }